
//colours
$red-orange: #f35325;
$green: #81bc06;
$blue: #05a6f0;
$yellow: #ffba08;
$gray: #666666;
$silver: #f2f2f2;

$black: #101624;
$cream: #f1ddcc;
$dark-blue: #222c4c;
$orange: #ffb054;
$pink: #f56682;
$white: #ffffff;

//Font Families
//$font-family: Microsoft, sans-serif;
$font-family: "Outfit", sans-serif;

