@use "../../styles/partials/variables" as *;

.robot {
  display: flex;
  flex-direction: column;
  width: 401px;
  height: 484px;
  //   background-color: #fefefe;
  background-color: $white;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0px 0px 40px 10px #0000000d inset;

  &__image {
    width: 100%;
    object-fit: contain;
  }

  &__image-meter {
    object-fit: contain;
    width: 70%;
  }

  &__meter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2rem;
  }
}
