.robot {
    display: flex;
    flex-direction: column;
    width: 401px;
    height: 484px;
    background-color: #FEFEFE;
    border: 2rem solid #F6F6F6;
    border-radius: 2rem;
    overflow: hidden;

    &__image {
        width: 100%;
        object-fit: contain;
    }   
}